@font-face {
    font-family: Caramond;
    src: url(CormorantGaramond-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Caramond;
}
.container {
    padding: 5px 10px;
}
header {
    display: flex;
    justify-content: space-between;
    height: fit-content;
}
nav {
    display: flex;
    gap: 10px;
}
nav a {
    font-size: 30px;
    text-decoration: none;
    color: black;
}