:root {
    font-size: 62.5%;
    --body-color: #2F0743;
    --text-color: #d4e0ff;
}

.main-box {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 40% 58%;
    gap: 1rem;
    /* grid-auto-rows: 10rem; */
    grid-auto-columns: 10rem;
    background-color: #fff;
    color: var(--body-color);
    margin: 2rem;
    padding: 1rem;
}

.main-box > div {
    background-color: var(--text-color);
    border: .3rem solid #333399;
    padding: 1rem;
}

.box1 {
    display: grid;
    grid-row: 1/3;
}

.download {
    padding: 1rem;
    background-color: green;
    font-size: 1.5rem;
    margin-bottom: 0;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
    display: none;
}