/* COLOR
    #F6EEE0
    #A45C40
*/

:root {
    font-size: 62.5%;
}
@font-face {
    font-family: Caramond;
    src: url(../assets/fonts/CormorantGaramond-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Caramond;
}
.container {
    padding: 5px 150px;
    border-bottom: 3px solid #A45C40;
}
header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    background-color: #F6EEE0;
}
header h1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 10px;
    color: #A45C40;
}
header #logo {
    height: 60px;
}
header nav {
    display: flex;
    gap: 10px;
    text-transform: capitalize;
}
nav a {
    font-size: 30px;
    text-decoration: none;
    color: #A45C40;
    font-weight: bold;
}
#home {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("../assets/images/homebg.jpg");
    background-size: contain;
    background-color: rgba(255, 209, 158, 0.2);
}
#home div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    border: none;
    padding: 30px;
    color: #311556;
    background-color: rgba(255, 209, 158, 0.6);
    width: 49%;
    border-radius: 25px;
}
#home h2 {
    font-size: 50px;
    text-align: center;
    letter-spacing: 3px;
}
#home p {
    font-size: 28px;
    line-height: 38px;
    font-weight: bold;
}
#home img {
    width: 100%;
    /* background-color: rgba(255, 72, 0, 0.2); */
}
#create {
    background-color: #F6EEE0;
}
#create-1 {
    width: 30%;
}
#create-2 {
    width: 65%;
}
#create h3 {
    font-size: 40px;
    color: #311556;
    letter-spacing: 2px;
}
#create p, #cvform input {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 3px;
    width: 95%;
}
#create-2, #create-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#create #cvprefill, #create #cvform {
    display: flex;
    justify-content: space-around;
}
#create #cvprefill {
    display: none;
}
#profileInput, #skillInput, #workInput {
    height: 300px;
}
#hobyInput, #educationInput {
    height: 100px;
}
footer {
    font-size: 15px;
    color: white;
    background-color: black;
    text-align: center;
}