@font-face {
    font-family: Caramond;
    src: url(../assets/fonts/CormorantGaramond-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Caramond;
}
.container {
    padding: 5px 150px;
}
header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    background-color: #F6EEE0;
}
header h1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 10px;
    color: #A45C40;
}
header #logo {
    height: 60px;
}
nav {
    display: flex;
    gap: 10px;
}
nav a {
    font-size: 30px;
    text-decoration: none;
    color: #A45C40;
    font-weight: bold;
}
#home {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../assets/images/homebg.jpg");
    background-size: contain;
}
#home div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    border: none;
    padding: 30px;
    background-color: rgba(255, 72, 0, 0.2);
    width: 60%;
    border-radius: 15px;
}
#home h2 {
    font-size: 50px;
    text-align: center;
    letter-spacing: 3px;
}
#home p {
    font-size: 28px;
    line-height: 38px;
}
