@font-face {
    font-family: Caramond;
    src: url(../assets/fonts/CormorantGaramond-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Caramond;
}
.container {
    padding: 5px 10px;
}
header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    border: 1px solid black;
    align-items: center;
}
nav {
    display: flex;
    gap: 10px;
}
nav a {
    font-size: 30px;
    text-decoration: none;
    color: black;
}
#home {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#home div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    border: 1px solid black;
    width: 60%;
}
#home h2 {
    font-size: 50px;
    text-align: center;
    letter-spacing: 3px;
}
#home p {
    font-size: 28px;
    line-height: 38px;
}